.full-container{
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.main-container{
  min-height: 70dvh;
  padding-top: 2rem;
}

footer{
  background-color: #004042;
  min-height: 100%;
  color: #FFFFFF;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 1rem;
}

footer p{
  width: 60%;
}